/*/
This one is used for index.html
*/

/* body {
    background-image: url(../images/medical.jpg)
    opacity=.5;
} */

::placeholder{
    color: darkgray;
}

.material-icons{
    margin:10px;
}

label{
    margin: 0;
}

#input {
    background: rgba(255, 255, 255, 0.548); 
    fill-opacity: 0.5;
    height: 80px;
    width: 100%;
    z-index:1;
    
}

#search{
    margin: 10px;
    z-index: 2;
    
}

#notes{
    height: 80px;
    width: 100%;
    
}

.icon-block{
    background: rgba(255, 255, 255, 0.363);
    width:100%;
    height: auto;
    padding:25px;
    fill-opacity:0.5;
    filter: alpha(opacity,50);
}

.collapsible-body{
    background: rgba(233, 233, 228, 0.8);
    fill-opacity: .8;
}

.collapsible-header{
    background: lightcoral;
    font-family: 'Arial ', sans-serif;
    padding: 5px;
    border: goldenrod effect;
    margin: 2px;
    
}

.results{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.brand-logo{
    font-family: Big Calson, 'Book Antigua', serif;
    color: gold;
    font-size: 72pt;
}

.logo-img{
    height: 50px;
    width: 50px;
}

.nav-title{
    font-family: cursive;
    font-size: small;
}

.nav-wrapper{
    margin: 50;
    /* opacity: 0.5; */
    /* background-image: url(../images/wood.jpg) */
}

#map {
    height: 400px;
    width: 100%;
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.bio {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
}

#intro {
    margin: 0;
}

.light{
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-weight: 550;
}

.title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#contact-info{
    text-align: center;
    text-transform: capitalize;
}

.social-icons{
    font-size: 4em;
}

#social-links{
    text-align: right;
}

.row .col {
    padding: 0.1rem;
}

#copyright {
    text-align: center;
}

#navlist .list {
    display: inline;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

#connect {
    padding-left: 130px;
}