#map {
    height: 400px;
    width: 50%;
}


/* body {
    background:
} */

.nav-wrapper {
    background: blueviolet;
    width: 85%;
}

.logo {
    height: 100px;
    width: 100px;
}

.nav-title {
    height: 50px;
}