/*/
This one is used for index.html
*/

#map {
    height: 400px;
    width: 100%;
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.bio {
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
}

.row .col {
    padding: 0.1rem;
}

#copyright {
    text-align: center;
}

#navlist .list {
    display: inline;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}